<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Subhasmita Sahoo-Personal Website</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/font-awesome.css">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/nivo-lightbox/nivo-lightbox.css">
<link rel="stylesheet" type="text/css" href="/css/nivo-lightbox/default.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>


</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="#page-top"><span><img src="img/about.jpg" id="icon-image"> Portfolio</span></a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#page-top" class="page-scroll">Home</a></li>
        <li><a href="#about" class="page-scroll">About</a></li>
        <li><a href="#portfolio" class="page-scroll">Technology And Me </a></li>
        <li><a href="#contact" class="page-scroll">Contact</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>
<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="container">
      <div class="row">
        <div class="intro-text">
          <h1>Subhasmita Sahoo</h1>
          <p>Software Engineer I | Intuit IDC, Bangalore</p>
          <ul id="home-icons">
                <li><a href="https://github.com/subhasmitasahoo"><i class="fa fa-3x fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/subhasmitasahoo/"><i class="fa fa-3x fa-linkedin-square"></i></a></li>
                <li><a href="https://www.facebook.com/profile.php?id=100003269572515"><i class="fa fa-3x fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/subhasmita1995"><i class="fa fa-3x fa-twitter"></i></a></li>
                <li><a href="mailto:subhasmitasahoo.247@gmail.com"><i class="fa fa-3x fa-envelope"></i></a></li>
          </ul>
       </div>
      </div>
    </div>
  </div>
</header>
<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="section-title text-center center">
      <h2>About Me</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6"> <img src="img/about.jpg" class="img-responsive" alt="" style="height: 320px;filter: grayscale(1);"> </div>
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <p>Hi, I'm Subhasmita(subha). Currently, I am working at Intuit IDC, Bangalore as a software developer. I love coding. Be it the beauty in front-end or the rigid details of back end, my knack for both numbers and colours has helped me become handy in both. New technologies have always fascinated me. Lately I have started experimenting with blockchain technologies in my free time. If you have something for me, feel free to be in touch.</p>
          <p><em>"I'm the type of person that if you ask me a question and I don't know the answer. I'm gonna tell you that I don't know. But I bet you what, I know how to find the answer and I will find the answer." -Pursuit of Happiness</em></p>
          <form method="GET" action="/downloadResume">
            <button class="btn btn-default btn-lg" style="color: #f6f6f6;">
              Download Resume&nbsp&nbsp<i class="fa fa-lg fa-download"></i>
            </button>
          </form>
           </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Section -->
<div id="portfolio">
  <div class="container">
    <div class="section-title text-center center">
      <h2>Technology And Me</h2>
      <hr>
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <li><a href="#" data-filter=".love" class="active">What I love</a></li>
            <li><a href="#" data-filter=".project">What I create in free time</a></li>
            <li><a href="#" data-filter=".blog">What I write</a></li>
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-6 col-md-3 col-lg-3 love">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="https://www.blockchain.com/" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Blockchain</h4>
              </div>
              <img src="img/blockchain.jpg" class="img-responsive tech-img" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 love">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="https://www.ethereum.org/" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Ethereum</h4>
              </div>
              <img src="img/ethereum.jpeg" class="img-responsive tech-img" alt="Project Title" style="height: 160px;"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 love">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="https://www.hyperledger.org/" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Hyperledger</h4>
              </div>
              <img src="img/hyperledger.jpg" class="img-responsive tech-img" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 love">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="http://mean.io/" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>MEAN Stack</h4>
              </div>
              <img src="img/mean.jpg" class="img-responsive tech-img" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 love">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="https://aws.amazon.com/" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>AWS</h4>
              </div>
              <img src="img/aws.png" class="img-responsive tech-img" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 project">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="https://github.com/subhasmitasahoo/Country-Wiki" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Country Wiki App</h4>
              </div>
              <img src="img/country-wiki.png" class="img-responsive tech-img" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 project">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="https://github.com/subhasmitasahoo/Ethereum-DAPP" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>A DAPP Using truffle</h4>
              </div>
              <img src="img/smart-contract-eth.jpg" class="img-responsive tech-img" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 project">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="https://github.com/subhasmitasahoo/Hyperledger-Fabric" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>A Smart Contract using hyperledger-fabric</h4>
              </div>
              <img src="img/smart-contract-hyper.jpg" class="img-responsive tech-img" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 project">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="https://github.com/subhasmitasahoo/BlogSite" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>A Blogging site to manage blogs</h4>
              </div>
              <img src="img/blogsite.jpeg" class="img-responsive tech-img" alt="Project Title"> </a> </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-3 col-lg-3 blog">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="https://subhasmitasahoo.github.io/Hyperledger-Fabric-Setup-in-Local-Environment/" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Hyperledger Fabric Setup in local</h4>
              </div>
              <img src="img/fabric.jpg" class="img-responsive tech-img" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 blog">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="https://subhasmitasahoo.github.io/MongoDB-Association/" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Association-MongoDB</h4>
              </div>
              <img src="img/mongodb1.jpg" class="img-responsive tech-img" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 blog">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="/blogs/personalsite" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Personal site Experience</h4>
              </div>
              <img src="img/personalsite.jpg" class="img-responsive tech-img" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 blog">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="https://subhasmitasahoo.github.io/Ethereum-Private-Network/" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Create a private Ethereum Network in local</h4>
              </div>
              <img src="img/eth.jpeg" class="img-responsive tech-img" alt="Project Title"> </a> </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
<!-- Contact Section -->
<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Let's Be In Touch</h2>
      <hr>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <form name="sentMessage" id="contactForm" method="POST" action="/message">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="Name" required="required" name="name">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="Email" required="required" name="email">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="10" placeholder="Message" required="required" name="message"></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-default btn-lg">Send Message</button>
      </form>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container text-center">
    <div class="fnav">
      <p>Template <a href="http://www.templatewire.com" rel="nofollow">TemplateWire</a> &nbsp &nbsp Backend <a href="https://nodejs.org/en/" rel="nofollow">NodeJS</a> &nbsp &nbsp Hosting <a href="https://aws.amazon.com/" rel="nofollow">AWS</a></p>
    </div>
  </div>
</div>
<script type="text/javascript" src="js/jquery.1.11.1.js"></script> 
<script type="text/javascript" src="js/bootstrap.js"></script> 
<script type="text/javascript" src="js/SmoothScroll.js"></script> 
<script type="text/javascript" src="js/nivo-lightbox.js"></script> 
<script type="text/javascript" src="js/jquery.isotope.js"></script> 
<script type="text/javascript" src="js/jqBootstrapValidation.js"></script> 
<script type="text/javascript" src="js/contact_me.js"></script> 
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>