<!DOCTYPE html>
<html>
<head>
	<title>Personal Site</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/font-awesome.css">	
	<link rel="stylesheet" type="text/css"  href="/css/style.css">
</head>

<body style="font-family: 'Open Sans', sans-serif;background-color: #414a52;">
	<div class="container" style="margin-top: 25px;">
		<div class="card ">
			<div class="card-header" style="background-color: #54d0dd;text-transform: uppercase;text-align: center;">
				<h1>Wanna Create a Personal Website!</h1>
			</div>
			<div class="card-body">
<!--     <h5 class="card-title">Special title treatment</h5>
-->    
<div class="card-title">
	<img src="/img/blogexp.jpg" style="width: 100%;">
</div>
<p class="card-text">
	<p>
		Hi, all! Here I am going to share about my experience of creating this site. Later on, I will share the steps in detail to create and deploy a full-stack project.
	</p>
	<p>
	First of all, why do we need to do this? Well, the reason differs from person to person. For me, it was because recently I did a web development(MEAN stack) course and I wanted to test my knowledge by creating an actual project that would be useful and where I could spend my free time. What better option can there be, other than a personal site. Anyway, I leave it to you to decide. But, trust me its super fun.
	</p>
	<p>
		Lets start with front end part. I had two options here. Either to start from scratch or take an existing template and modify it according to my requirements. I chose the second option to create as it saved a lot of time for me. Because, actually when it comes to professional site, UI is the trickiest part. Like making sure that it is aligned properly in all screen size. Because position of a single element can disturb the whole page. There are a lot of free templates available. I chose the one where I didnt have to modify the design a lot. If you want to build from scratch, there are many awesome libraries available like Bootstrap, SemanticUI etc.
	</p>
	<p>
		Next coming to Javascript part (Also front end), I used JQuery library to make my code short and make it cross-browser compatible. Already many of the events were added in the templates. I added few more customization to it and my UI was ready. 
	</p>
	<p>
		Backend part I started from scratch. I have used NodeJS and Express to create the back end. Mostly my website is static. But, I needed back end for few reasons like handling contact form message, sanitizing the body and few other requirements that I have in my mind but havent implemented yet. Till now, I haven't added DB part to my project. Well, I am taking care of the message sent in the form by some other hack. I am going to use MongoDB to handle database part as I need in the other features. 
	</p>
	<p>
		Now, my site is ready. I can run it in my local. And I need to deploy it. I tried <a href="https://heroku.com" style="color: #54d0dd;">Heroku</a> to deploy it for free. It is very easy to deploy in heroku. I got a custom domain for free and my site got deployed successfully. But I didnt want to have any extra extensions in my domain name. So I thought of buying a custom domain name and went to <a href="https://godaddy.com" style="color: #54d0dd;">godaddy</a> website. Bought a custom domain name of my choice for one year.
	</p>
	<p>
		Well, now I am almost done. The last step is to configure the DNS part and connect my domain name to the IP address of the server where my code is residing. And here is where I lost my one night sleep. First, I went back to heroku with full excitement, as I had seen an option to add domain name. so I wrote my domain name in the box and ENTER. Phew!!! A message appeared implying I need to add credit card info to use this feature. And I had some issue with my credit card, so I cant use it. Then, I was like OK. There are other options to host my site. BYE Heroku. So I thought of IBM Bluemix. Again followed the steps of deploying the site. After completing, searched steps for connecting my domain name to it. Then, guess what... again same issue. Without credit card I can't add it. SERIOUSLY!!! I have already spent on a custom domain name and I am in my last stage of completing, and this happens. Its like you know, download the complete series of GOT in one go and at 99% it stops. I was exactly in a similar situation. And it was already night 1.30. And I had to go to office next morning. Again I had two options.
	</p>
	<p>
		I decided to complete. I had taken AWS training few weeks back, so I was like... Lets test the knowledge. First I thought of deploying it in ElasticStalkBean. But again, it needs some extra changes and configuration in the project to deploy it. So, I went with EC2. Again followed the steps to deploy it and run it. And then went to the final step of connecting. And guess what....NOT AGAIN OK! This time they didnt ask for any credit card to complete DNS part. (Well, in the beginning I had added my debit card info while creating an account and that was enough). And finally I could connect the IP of the server to my custom domain name. And it was almost morning! Again I had two options ;) 
	</p>
	<p>
		In the next part, I will share the technical details and steps to create and deploy a website. Thanks for reading :).
	</p>
</p>

</div>
<div class="card-footer text-muted" style="background-color: #54d0dd;">
	<a href="/home" class="btn btn-primary" style="background-color: #414a52;">Home</a>
</div>
</div>
</div>

</body>
</html>